@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body > h1 {
    text-align: center;
    background-color: #3775A9;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tekst {
    font-size: 24px;
    width: 50%;
    height: 50%;
    margin-left: 100px;
    margin-top: 80px;
    margin-bottom: 130px;

}

.centered {
    display: grid;
    grid-template-columns: 1100px 700px;
    grid-template-rows: 600px;
    margin-bottom: -95px;
}

body > div > div.slika > img {
    margin-top: 105px;
}

.footer {
    background: #FDDA49;
    padding: 50px 0;
}

.container {
    max-width: 1170px;
    /*background-color: white;*/
    margin: auto;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #3775A9;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;

}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: darkblue;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: black;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #3775A9;
    background-color: white;

}

/*responsive*/
@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 547px) {
    .footer-col {
        width: 100%;
    }
}
